<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodplasmabankapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodPlasmaBankApp">
        <activity android:name=".RequestModifyActivity"></activity>
        <activity android:name=".RequestLoginActivity" />
        <activity android:name=".RequestRegistrationPageActivity" />
        <activity android:name=".RequestActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailedBloodDonorActivity" />
        <activity android:name=".DisplayPlasmaDonorActivity" />
        <activity android:name=".DisplayBloodDonorsActivity" />
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>